.profile__add {
    background: none;
    border: none;
    padding: 0;
    width: 150px;
    height: 50px;
    background-image: url(../../../images/Add_Button.svg);
    border-radius: 2px;
    margin: auto 0 auto 244px;
}

.profile__add:hover {
    opacity: 0.6;
    cursor: pointer;
}